<h2>len()</h2>
Fungsi len() bertujuan untuk menghitung panjang atau banyaknya elemen dari list, set, dan string. Khusus pada string, program akan menghitung jumlah karakternya.

In [4]:
contoh_string = "HALO     "

print(len(contoh_string))

9

In [1]:
contoh_list = [1, 3, 3, 5, 5, 5, 7, 7, 9]

print(contoh_list)
print(len(contoh_list))

[1, 3, 3, 5, 5, 5, 7, 7, 9]
9

<h2>min max</h2>

In [2]:
angka = [13, 7, 24, 5, 96, 84, 71, 11, 38]
print(min(angka))
print(max(angka))

5
96

<h2>Count</h2>
Fungsi count() digunakan untuk mengetahui berapa kali suatu objek muncul dalam list.

In [1]:
genap = [2, 4, 4, 6, 6, 6, 8, 10, 10]
print(genap.count(10))

2

In [2]:
string = "Belajar Python di Dicoding sangat menyenangkan"
print(string.count('a'))

6

<h2>In dan Not In</h2>
In dan not in merupakan operator yang diperuntukkan untuk mengetahui nilai atau objek yang ada dalam list.

In [6]:
kalimat = "Belajar Python di Dicoding sangat menyenangkan"
print('Dicoding' in kalimat)
print('tidak' in kalimat)
print('Dicoding' not in kalimat)
print('tidak' not in kalimat)

True
False
False
True

<h2>Memberikan Nilai untuk multiple variable</h2>

In [ ]:
data = ['shirt', 'white', 'L']
apparel, color, size = data

print(data[0])
print(apparel)
print("SIZE : ", size)

shirt
shirt

<h2>sort()</h2>
Anda bisa menggunakan fungsi sort() untuk mengurutkan angka atau urutan huruf.

In [3]:
kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
bil = [1,2,34,5]
bil.sort(reverse=True)
kendaraan.sort()

print(kendaraan)
print(bil)

['helikopter', 'mobil', 'motor', 'pesawat']
[34, 5, 2, 1]

In [5]:
kendaraan = ['motor1', 'motor2', 'helikopter', 'pesawat']
kendaraan.sort()

print(kendaraan)

['helikopter', 'motor1', 'motor2', 'pesawat']

Metode sort tidak dapat mengurutkan list yang memiliki angka dan string sekaligus di dalamnya

In [13]:
urutan = ['Dicoding', 1, 2, 'Indonesia', 3]
urutan.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

Metode sort menggunakan urutan ASCII sehingga nilai huruf kapital (uppercase) akan lebih dahulu dibandingkan huruf kecil (lowercase).

In [14]:
kendaraan = ['motor', 'mobil', 'helikopter', 'Pesawat']
kendaraan.sort()

print(kendaraan)

['Pesawat', 'helikopter', 'mobil', 'motor']

Diberikan sebuah variabel berisi nilai list dengan nama "var_list". 
Berdasarkan list tersebut, cari hal-hal berikut ini:
- Panjang list tersebut dan simpan dengan nama variabel "panjang".
- Nilai maksimal list tersebut dan simpan dengan nama variabel "maksimal".
- Nilai minimal list tersebut dan simpan dengan nama variabel "minimal".
- Berapa banyak angka 605132 dalam list tersebut dan simpan dalam variabel bernama "banyak"
- urutkan secara 'reverse'

In [6]:
var_list = [792564, 465231, 203748, 981037, 857219, 314092, 608345, 123907, 736890, 985026, 
179430, 450218, 680934, 543187, 978260, 283045, 617902, 405826, 820913, 731095, 
592403, 109237, 874956, 605132, 214978, 674519, 391047, 825160, 509317, 768490, 
950283, 307491, 487610, 532198, 605132, 160984, 609873, 245016, 879043, 734126, 
351809, 670594, 920873, 605132, 596410, 135890, 804512, 683420, 290753, 931560, 
175430, 950672, 378490, 284105, 746098, 503624, 605132, 167432, 974810, 519463, 
407835, 740326, 281709, 630921, 953284, 605132, 429731, 183607, 369012, 541380, 
605132, 217605, 496803, 827309, 153607, 605132, 720459, 381904, 594031, 810235, 
673925, 492157, 835096, 260481, 956024, 540329, 806295, 320158, 751903, 980465, 
235780, 857943, 605132, 125094, 620493, 913250
]

print("panjang : " , len(var_list))
print("maksimal : " , max(var_list))
print("minimal : " , min(var_list))
print("605132 sebanyak : " , var_list.count(605132))

var_list.sort(reverse=True)

print("sort.reverse : ", var_list)

panjang :  96
maksimal :  985026
minimal :  109237
605132 sebanyak :  8
sort.reverse :  [985026, 981037, 980465, 978260, 974810, 956024, 953284, 950672, 950283, 931560, 920873, 913250, 879043, 874956, 857943, 857219, 835096, 827309, 825160, 820913, 810235, 806295, 804512, 792564, 768490, 751903, 746098, 740326, 736890, 734126, 731095, 720459, 683420, 680934, 674519, 673925, 670594, 630921, 620493, 617902, 609873, 608345, 605132, 605132, 605132, 605132, 605132, 605132, 605132, 605132, 596410, 594031, 592403, 543187, 541380, 540329, 532198, 519463, 509317, 503624, 496803, 492157, 487610, 465231, 450218, 429731, 407835, 405826, 391047, 381904, 378490, 369012, 351809, 320158, 314092, 307491, 290753, 284105, 283045, 281709, 260481, 245016, 235780, 217605, 214978, 203748, 183607, 179430, 175430, 167432, 160984, 153607, 135890, 125094, 123907, 109237]